{% extends "encyclopedia/layout.html" %}

{% block title %}
    New page
{% endblock %}

{% block body %}
    <h1>Create a new page</h1>

    <form action="{% url 'new_page' %}", method="post">
        {% csrf_token %}
        What is the title for the new page?
        {% if error %}
            <p style="color: red">ERROR: choose a unique title for this page</p>
        {% endif %}
        <p>
            {{ form.name }}
        </p>
        {% for error in form.name.errors %}
            <p>{{ error }}</p>
        {% endfor %}
        Enter the content in markdown here:
        <p>
            <textarea name="content">
                {{ content }}
            </textarea>
        </p>
        <input type="submit", value="Add page">
    </form>

{% endblock %}